@model List<Order>
@{
    ViewData["Title"] = "Mason Supply App Home Page";
}

<h1>@ViewData["Title"]</h1>

<p>Welcome to a very bare bones Web App! It may look shitty now, but that's because nothing has been done besides adding a view for the Cost Estimation page and adding Models for an Order and Shape. I say "nothing" but in reality I did a shit ton of work to the Shape model and I suggest you check it out using your Visual Studio..... I accounted for the customer providing very unspecific dimensions (crude end to end measurements) and wrote even more formulas (which was a pain in the ass) to convert those barbaric measurements into more accurate ones so we can estimate the true length of each shape effectively. There may be some kinks to work out, but I feel like my logic is sound with my methods I wrote so please have a look!</p>

@for(int i = 0; i < Model.Count; i++)
{
	<hr>
	<div>
		OrderID: @Model[i].OrderID
	</div>
	<hr>
	@for(int j = 0; j < Model[i].shapes.Count; j++)
	{
			<div>
				Shape @(j + 1)
			</div>
		<br/>
		<div>
			Rebar Type: #@Model[i].shapes[j].Rebar_Type
		</div>
		<div>
			# of Legs: @Model[i].shapes[j].Leg_Num
		</div>
		<div>
			Quantity wanted: @Model[i].shapes[j].Quantity
		</div>
		<hr>
	}
	<br/>
}

<div class="button-holder">
		<a class="btn btn-primary" asp-action="ShapeInput">New Quote</a>
</div>